.entry{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  min-width: 200px;
  min-height: 260px;
  padding: 10px;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(5px);
  border-radius:10px;
  padding: 0.5rem;
  width: 100%;
  box-shadow: rgb(0,0,0,0.2);
}